/*　navber　*/
.nav>li {
    float: left;
    display: inline-block;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav>li>a {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}
/* loop_mikan */
body {
    background: url("https://drive.google.com/uc?id=1ibw940PGjb8ObOByjVYhssjhzUenZ_kQ");
    -webkit-animation: bgiLoop 10s linear infinite;
    animation: bgiLoop 10s linear infinite;
}
@-webkit-keyframes bgiLoop {
    0% { background-position: 0 0;}
    100% { background-position: -100px 200px;}
}
@keyframes bgiLoop {
    0% { background-position: 0 0;}
    100% { background-position: -100px 200px;}
}
/* スクロール禁止 */
body.scr{
    overflow: hidden;    
}
/* アーティファクト画像サイズ */
img.artifact{
    width: 100%;
    height: auto;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 0px;
    font-size: 0.7em;
    text-shadow: 1px 1px 2px silver;
    font-weight: bold;
    line-height: 0.2;
}